<div class="row">
	<div class="col-md-4">
		<%= image_tag @book.book_img.url(:book_show), class:"book-show" %>
		<%= link_to 'Back', root_path, class:"btn btn-xs btn-info" %>
		<% if user_signed_in? %>
		  <% if @book.user_id == current_user.id %>
			<%= link_to 'Edit', edit_book_path(@book), class:"btn btn-xs btn-warning" %>
			<%= link_to 'Delete', book_path(@book), method: :delete, data:{ confirm: "Are you sure?"}, class:"btn btn-xs btn-danger" %>
		  <% end %>
		<% end %>
	</div>
	<div class="col-md-8 book-info">
	  <div class="row"><center>
		<h2 class="col-md-6 col-md-offset-3"><%= @book.title %></h2>
		<h3 class="col-md-6 col-md-offset-3">Author: <%= @book.author %></h3>
		<h4 class="col-md-6 col-md-offset-3">Average Rating</h4>
		<div class="average-review-rating col-md-6 col-md-offset-3" data-score=<%= @average_review %>></div>
		<span class="col-md-6 col-md-offset-3" style="opacity: 0.5;">Based on <%= @book.reviews.count %> reviews</span><br><br></center>
	  </div>	
		<blockquote class="justify"><%= @book.description %></blockquote><hr>
		<p><%= render @book.reviews %></p>
		<%= render "reviews/form" %>
	</div>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>