<p class="text-primary" style="text-transform: uppercase;"><%= review.user.email %></p>
<div class='review-rating' data-score='<%= review.rating %>'></div>
<p><%= review.comment %></p>
<p class="text-info"><%= time_ago_in_words(review.created_at) %> Ago </p>

<% if user_signed_in? %>
  <% if review.user_id == current_user.id %> 
	<%= link_to 'Edit', edit_book_review_path(review.book, review), class:"btn btn-xs btn-warning" %>
	<%= link_to 'Delete', book_review_path(review.book, review), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-xs btn-danger" %>
  <% end %>
<% end %><hr>  
	