<!DOCTYPE html>
<html>
  <head>
    <title>BookClubApplication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>

    <div class="container padding">
    <!-- Notifications -->
      <% if notice %> 
        <div class="alert alert-info alert-dismissable text-center col-xs-8 col-xs-offset-2">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><span class="notice"><%= notice %></span></strong> 
        </div> 
      <% elsif alert %>
        <div class="alert alert-danger alert-dismissable text-center col-xs-8 col-xs-offset-2">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><span class="alert"><%= alert %></span></strong>
        </div>
      <% end %>
    
      <%= yield %>
    </div>

  </body>
</html>
